*, *::after, *::before,
*:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 1.5;
}

body{
    margin: 0;
    padding: 0;
}

kbd {
    font-size: 4rem;
    display: block;
}

.container{
    display: grid;
    grid-template-columns: 1fr 27.4rem 1fr;
    grid-template-rows: 4rem 1fr 2.4rem;
    min-height: 100vh;    
}

.title {
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    padding: 0;
    margin: 0;
    grid-column: 1 / 4;
    grid-row-start: 1;
    background-color: silver;
}

.main {    
    grid-column-start: 2;
    grid-row: 2; 
    align-self: center;
}

.footer{
    padding-left: 1rem;
    font-size: 1.6rem;
    grid-column: 1 / 4;
    grid-row-end: -1;
    background-color: silver;
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 8.8rem);
    grid-template-rows: repeat(3, 8.8rem);
    grid-gap: 0.5rem;
    background-color: yellow;
}

.key {
    text-align: center;
    color: white;
    background-color: blue;
    border-radius: .5rem;
    border: .5em solid orange;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
